/* Home.css */

.home {
    position: relative;
    overflow: hidden;
  }
  
  .parallaxBg {
    height: 75vh;
    background-image: url('/src/images/backgroundHome.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
  }
  
  .content h1 {
    font-size: 3rem;
  }
  
  .content p {
    font-size: 1.5rem;
  }
  .button {
    background-color: #ff4500; 
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #e54400; 
  }
  .home-items-container {
    margin-top: 2rem;
    animation: fadeInUp 1s ease-out
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: antiquewhite;
    color: #e54400;
  }
  
  .marquee {
    animation: marqueeAnimation 20s linear infinite; 
  }
  
  @keyframes marqueeAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }