
.navbar {
    background-color: #200;
    color: #e44b37;
    padding: 10px;
    width: 100%;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    flex: 1; 
  }
  
  .navbar-icons a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 1.8rem;
  }
  
  .navbar-icons a:hover {
    text-decoration: underline;
  }
  